.screen-header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal--space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons:last-child {
  position: relative;
}

.fa-cog ~ span {
  position: absolute;
  right: -5px;
  top: -10px;
}
